<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Joke App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

</head>
<body class="bg-dark">
<div class="container pt-5">
    <div class="card mx-auto" style="width: fit-content;">
        <!--    <img src="..." class="card-img-top" alt="...">-->
        <div class="card-body">
            <h5 class="card-title">Chack Norris </h5>
            <p th:text="${joke}" class="card-text"></p>
            <a href="funny" class="btn btn-success">Funny</a>
            <a href="notFunny" class="btn btn-danger">Not funny</a>
        </div>
    </div>
</div>
</body>
</html>